*{
	margin: 0;
	box-sizing: border-box;
}
body{
	background: #f7f6ff;
}
.container{
	margin-top: 100px;
	padding: 32px;
}
.select-box{
	display: flex;
	flex-direction: column;
	width: 400px;
	margin-top: 16px;
}
.select-box .options-container{
	background: #2f3640;
	color: #fff;
	max-height: 0;
	width: 100%;
	opacity: 0;
	transition: all .5s;
	border-radius: 4px;
	overflow: hidden;
	order: 1;
}
.select-box .option,
.selected {
	padding: 12px 24px;
	cursor: pointer;
}
.select-box .option:hover{
	background: #414b57;
}
.select-box .option .radio{
	display: none;
}
.select-box label{
	cursor: pointer;
}
.select-box .options-container.active{
 	max-height: 132px;
 	opacity: 1;
 	overflow-y: scroll;
}
.select-box .options-container::-webkit-scrollbar{
	width: 8px;
	background: #0d141f;
	border-radius: 0 8px 8px 0;
}
.select-box .options-container::-webkit-scrollbar-thumb {
	background: #525861;
	border-radius: 0 8px 8px 0;
}
.selected{
	background: #2f3640;
	color: #fff;
	border-radius: 8px;
	margin-bottom: 8px;
	position: relative;
	order: 0;
}
.selected::after{
	content: '\2304';
	position: absolute;
	top: 8px;
	right: 24px;
	transition: all .5s;
}
.select-box .options-container.active + .selected::after{
	transform: rotateX(180deg);
	top: 16px;
}